<mat-nav-list>
  <h3 matSubheader>Navigation</h3>
  <a mat-list-item
    routerLink="/manifest"
    (click)="onCloseSidenav()">
    <mat-icon matListIcon>cached</mat-icon>
    <h4 matLine>Manifest</h4>
  </a>
  <mat-divider></mat-divider>
  <h3 matSubheader>Notes</h3>
  <a mat-list-item
    routerLink="/register"
    (click)="onCloseSidenav()">
    <mat-icon matListIcon>face</mat-icon>
    <h4 matLine>Register</h4>
  </a>
  <a mat-list-item
    routerLink="/login"
    (click)="onCloseSidenav()">
    <mat-icon matListIcon>input</mat-icon>
    <h4 matLine>Login</h4>
  </a>
  <a mat-list-item
    (click)="onCloseSidenav()">
    <mat-icon matListIcon>eject</mat-icon>
    <h4 matLine>Logout</h4>
  </a>
</mat-nav-list>