<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container
  (backdropClick)="onCloseSidenav()">
  <mat-sidenav
    disableClose
    #sidenav
    [opened]="showSidenav$ | async"
    role="navigation">
    <app-sidenav-list [authenticated]="authenticated$ | async"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column">
    <app-header [authenticated]="authenticated$ | async"></app-header>
    <main fxFlex="grow">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

